/*
Theme Name:   Design System Wordpress Child Theme FIRB
Theme URI:    https://github.com/bcgov/design-system-wordpress-child-theme-firb
Version:      1.1.0
Template:     design-system-wordpress-theme
*/